* {
    box-sizing: border-box;
    color: white;
    font-style: oblique;
}

.gallery {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
}